@import "common/foundation/variables";

.tipso_bubble,
.tipso_bubble > .tipso_arrow {
  box-sizing: border-box;
}

.tipso_bubble {
  margin: 0 0.25em;
  position: absolute;
  text-align: center;
  border-radius: 6px;
  z-index: z("header") - 1;
}

.tipso_style {
  cursor: help;
  border-bottom: 1px dotted;
}

.tipso_title {
  border-radius: 6px 6px 0 0;
}

.tipso_content {
  word-wrap: break-word;
  padding: 0.5em;
}

.tipso_bubble.default {
  font-size: 1rem;
}

.tipso_bubble > .tipso_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid;
  pointer-events: none;
}

.tipso_bubble.top > .tipso_arrow {
  border-top-color: #000;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  top: 100%;
  left: 50%;
  margin-left: -8px;
}

.tipso_bubble .top_right_corner,
.tipso_bubble.top_right_corner {
  border-bottom-left-radius: 0;
}

.tipso_bubble .bottom_right_corner,
.tipso_bubble.bottom_right_corner {
  border-top-left-radius: 0;
}

.tipso_bubble .top_left_corner,
.tipso_bubble.top_left_corner {
  border-bottom-right-radius: 0;
}

.tipso_bubble .bottom_left_corner,
.tipso_bubble.bottom_left_corner {
  border-top-right-radius: 0;
}

.tipso_bubble {
  background: $primary;
  color: $primary-low;

  &.top > .tipso_arrow {
    border-color: $primary;
  }
}
